@font-face {
    font-family: 'Gameplay';
    src: url(../Gameplay.ttf) format('truetype');
}

body {
    /* Fade-in effct on load*/
    font-family: 'Lato', sans-serif;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
}

@keyframes slidein {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-main {
    margin: 27px auto 0;
    position: relative;
    width: 670px;
    height: 50px;
    background-color: #34495e;
    border-radius: 80px;
    font-size: 0;
}

.nav-main a {
    position: relative;
    line-height: 50px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    z-index: 1;
    text-align: center;
    color: white;
    cursor: pointer;
}

.nav-main .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 80px;
}

a:nth-child(1) {
    width: 200px;
}

a:nth-child(2) {
    width: 170px;
}

a:nth-child(3) {
    width: 110px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

.nav-main .start,
a:nth-child(1):hover~.animation {
    width: 150px;
    left: 35px;
    background-color: green;
}

.nav-main .start-1,
a:nth-child(2):hover~.animation {
    width: 150px;
    left: 220px;
    background-color: #232B2B;
}

.nav-main .start-2,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 390px;
    background-color: green;
}

.nav-main .start-3,
a:nth-child(4):hover~.animation {
    width: 110px;
    left: 520px;
    background-color: #232B2B;
}

a:hover,
a:active {
    color: white;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(243, 243, 243);
    ;
    scroll-behavior: smooth;
}

.img-header {
    background-image: url(../computer-hacking-code.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    margin-top: 90px;
}

.transition {
    position: sticky;
    filter: blur(2px);
    top: 0;
    text-align: center;
    font-size: 90px;
    color: honeydew;
    background-color: grey;
    margin-top: 400px;
    margin-bottom: 300px;
}

.logo {
    width: 15%;
    float: left;
}

#transition1 {
    font-family: 'Gameplay';
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    color: forestgreen;
    margin-bottom: 3em;
}

.transition2 {
    margin-bottom: 10em;
    background-image: url(../1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%
}

#main-form {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#sub-div {
    background-color: grey;
    padding: 35px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 10%;
    margin-left: -20%;
}

#footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: grey;
    margin-top: 60px
}

#video-player-wrapper {
    background-color: rgb(134, 136, 134);
    width: 100%;
    min-height: 120px;
    margin-bottom: 50px;
}

video {
    margin-top: 30px;
    height: 550px;
}

a {
    color: forestgreen;
    text-shadow: 2px 2px black;
}

#pentester {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

#foot-rt {
    float: right;
}

#foot-lt {
    float: left;
}

p>button {
    float: left;
}

#section-wrapper {
    background-color: rgb(134, 136, 134);
    padding: 5%;
    margin-top: 8em;
    margin-bottom: 13em;
}

dt {
    font-size: 30px;
}

dd {
    font-size: 22px;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: forestgreen;
    margin-top: 10px;
}

#graphic1 {
    width: 400px
}

#left-m {
    float: right;
    margin-bottom: 30px;
}

#wrapper-nav {
    margin-left: auto;
    margin-right: auto;
}

#seperate {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#graphic2 {
    margin-right: 170px;
    margin-bottom: 20px;
}

#wooper {
    display: none;
    width: 300px;
    height: 35px;
}

#burger {
    cursor: pointer;
    font-size: 25px;
    color: forestgreen;
}

.sidenav {
    height: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #34495e;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    #wooper {
        display: inline-block;
        background: #34495e;
        padding: auto;
        margin: auto;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        margin-right: 20%;
        margin-left: 3%;
    }
    dt {
        font-size: 20px
    }
    dd {
        font-size: 10px;
        display: inline-block;
    }
    #wrapper-col {
        font-size: 11px;
    }
    .form {
        height: 30%;
    }
    #transition1 {
        font-size: 30px;
    }
    video {
        width: 80%;
        height: 80%;
    }
    #graphic1 {
        width: 60%;
    }
    #graphic2 {
        margin-right: 20px;
        padding: 20px;
    }
    #cyber {
        font-size: 11px;
    }
    #cyber1 {
        font-size: 10px;
        font-weight: bold;
    }
    .col-m-4 {
        display: inline-block;
        font-size: 13px;
    }
    #seperate {
        display: initial;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .transition {
        height: 35%;
    }
    #pentester {
        font-size: 2em;
    }
    #wrapper-nav {
        display: none;
    }
    .searchTerm {
        display: none;
    }
    .searchButton {
        margin-left: 140px;
    }
    .nav-sub {
        background: none;
    }
    .nav-sub a {
        position: relative;
        height: 100%;
        width: 100%;
        font-size: 15px;
        z-index: 1;
        color: white;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .nav-sub .animation {
        position: absolute;
        height: 100%;
        z-index: 0;
        transition: all .5s ease 0s;
        border-radius: 80px;
    }
    a:nth-child(1) {
        width: 20px;
    }
    a:nth-child(2) {
        width: 70px;
    }
    a:nth-child(3) {
        width: 60px;
    }
    a:nth-child(4) {
        width: 60px;
    }
    a:nth-child(5) {
        width: 60px;
    }
    .nav-sub .start,
    .nav-sub a:nth-child(1):hover~.animation {
        width: 150px;
        height: 30px;
        left: 0;
        top: 0px;
        background-color: green;
    }
    .nav-sub .start-1,
    .sidenav a:nth-child(2):hover~.animation {
        width: 150px;
        top: 0px;
        left: 0;
        background-color: #232B2B;
    }
    .nav-sub .start-2,
    .sidenav a:nth-child(3):hover~.animation {
        width: 150px;
        left: 0;
        height: 45px;
        top: 45px;
        background-color: green;
    }
    .nav-sub .start-3,
    .sidenav a:nth-child(4):hover~.animation {
        width: 150px;
        height: 30px;
        top: 100px;
        left: 0;
        background-color: #232B2B;
    }
    .nav-sub .start-4,
    .sidenav a:nth-child(5):hover~.animation {
        width: 100px;
        height: 40px;
        top: 130px;
        left: 10px;
        background-color: green;
    }
    a:hover,
    a:active {
        color: white;
        text-decoration: none;
    }
    .col-m-2 {
        font-size: 11px;
    }
}

@media screen and (max-width:1420px) {
    #footer {
        font-size: 12px;
    }
    #left-m {
        font-size: 12px;
    }
    #cyber {
        font-size: 12px;
    }
    #mySidenav {
        display: none;
    }
    #wooper {
        margin: 0;
        width: 50%;
    }
    .transition {
        height: 110px;
    }
    .nav-sub .start,
    .nav-sub a:nth-child(1):hover~.animation {
        width: 150px;
        height: 30px;
        left: 0;
        top: 15px;
        background-color: green;
    }
    .nav-sub .start-1,
    .nav-sub a:nth-child(2):hover~.animation {
        width: 150px;
        top: 17px;
        left: 0;
        background-color: #232B2B;
    }
    .nav-sub .start-2,
    .nav-sub a:nth-child(3):hover~.animation {
        width: 150px;
        left: 0;
        height: 45px;
        top: 60px;
        background-color: green;
    }
    .nav-sub .start-3,
    .nav-sub a:nth-child(4):hover~.animation {
        width: 150px;
        height: 30px;
        top: 115px;
        left: 0;
        background-color: #232B2B;
    }
    .nav-sub .start-4,
    .nav-sub a:nth-child(5):hover~.animation {
        width: 100px;
        height: 40px;
        top: 150px;
        left: 10px;
        background-color: green;
    }
}